{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIBAAS</title>
    <link rel="icon" href="{% static 'images\la_ultima_redondo_ic.ico' %}" type="image/x-icon">
    <!-- Incluye solo el CSS de Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .navbar {
            background-color: #ffffff;
        }

        .navbar-brand,
        .navbar-nav .nav-link {
            color: #ffffff !important;
        }

        .navbar-toggler {
            border-color: #ffffff;
        }

        .navbar-toggler-icon {
            background-color: #212529;
        }

        .container {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin-top: 12px;
        }

        .color-background {
            background-color: #162B4E;
        }
    </style>
    <!-- Elimina la inclusión de jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</head>

<body class="color-background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">
                <img src="{% static 'images/la_ultima_redondo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-bottom">
                CIBAAS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'proyecto_lista' %}">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventario_lista' %}">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'material_lista' %}">Materiales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'generar_reporte' %}">Reportes</a>
                    </li>
                    <!-- Botón para abrir el modal de confirmación de cierre de sesión -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Modal de confirmación para cerrar sesión -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Cierre de Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas cerrar sesión?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <!-- Enlace para confirmar el cierre de sesión -->
                    <a class="btn btn-danger" href="{% url 'logout_user' %}">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Incluye solo bootstrap.bundle.min.js -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        // Activa el comportamiento de cierre de las alertas
        var alertList = document.querySelectorAll('.alert')
        alertList.forEach(function (alert) {
            new bootstrap.Alert(alert)
        })
    </script>

</body>

</html>

