{% extends 'base.html' %}

{% block content %}
<div class="m-2">
    <h1>Lista de Clasificación</h1>
    <br>
    <div class="d-flex align-items-center">
        <div class="btn-group" style="gap: 5px;">
            <a href="{% url 'crear_clasificacion' %}" class="btn btn-outline-info">Nueva clasificación</a>
            <a href="{% url 'material_lista' %}" class="btn btn-secondary">Regresar a materiales</a>
        </div>
        <div class="input-group ms-auto" style="max-width: 250px;">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Buscar por nombre" aria-describedby="buscar-clasificacion" id="input-nombre" style="padding: 0px;">
            <button class="btn btn-outline-secondary" type="button" id="buscar-clasificacion">Buscar</button>
        </div>
    </div>
</div>
<div class="m-2 table-responsive">
    <div class="col-md-12">
        {% if clasificaciones %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clasificacion in clasificaciones %}
                    <tr>
                        <td>{{ clasificacion.nombre }}</td>
                        <td>{{ clasificacion.descripcion }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'clasificacion_editar' clasificacion.pk %}" class="btn btn-info me-2">Editar</a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#modalEliminar{{ clasificacion.pk }}">
                                    Eliminar
                                </button>
                            </div>
                            
                            <!-- Modal de confirmación (uno por cada clasificacion) -->
                            <div class="modal fade" id="modalEliminar{{ clasificacion.pk }}" tabindex="-1"
                                    aria-labelledby="modalEliminarLabel{{ clasificacion.pk }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalEliminarLabel{{ clasificacion.pk }}">
                                                Eliminar clasificacion
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar esta clasificación?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <!-- Form que hace POST a la URL de borrado -->
                                            <form method="post"
                                                    action="{% url 'clasificacion_eliminar' clasificacion.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">
                                                    Sí, eliminar
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin del modal -->

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5>No hay clasificación disponibles</h5>
        {% endif %}
    </div>
</div>

<script>
    const inputNombre = document.getElementById('input-nombre');

    inputNombre.addEventListener('input', function() {
        const nombre = this.value.trim().toLowerCase();
        
        const rows = document.querySelectorAll('tbody tr');
        
        rows.forEach(row => {
            const nombreClasificacion = row.querySelector('td:nth-child(1)').innerText.toLowerCase();
            if (nombreClasificacion.includes(nombre)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>

{% endblock content %}