{% extends "base.html" %}
{% block content %}

<div class="m-2">
    <h1>Crear Proveedor</h1>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}  <!-- Mostrar errores generales -->

        <div class="mb-3">
            <label for="id_nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="id_nombre" name="nombre" placeholder="{{ form.nombre.field.widget.attrs.placeholder }}">
            {{ form.nombre.errors }}  <!-- Mostrar errores de campo -->
        </div>

        <div class="mb-3">
            <label for="id_contacto" class="form-label">Contacto:</label>
            <input type="text" class="form-control" id="id_contacto" name="contacto" placeholder="{{ form.contacto.field.widget.attrs.placeholder }}">
            {{ form.contacto.errors }}  <!-- Mostrar errores de campo -->
        </div>

        <div class="mb-3">
            <label for="id_direccion" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="id_direccion" name="direccion" placeholder="{{ form.direccion.field.widget.attrs.placeholder }}">
            {{ form.direccion.errors }}  <!-- Mostrar errores de campo -->
        </div>

        <div class="mb-3">
            <label for="id_descripcion" class="form-label">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="{{ form.descripcion.field.widget.attrs.placeholder }}" rows="3"></textarea>
            {{ form.descripcion.errors }}  <!-- Mostrar errores de campo -->
        </div>

        <button type="submit" class="btn btn-primary">Crear Proveedor</button>
        <a href="{% url 'proveedor_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock content %}