{% extends 'base.html' %}

{% block content %}
<div class="m-2">
    <h1>Subir Documento</h1>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="documento" class="form-label">Documento:</label>
            <input class="form-control" type="file" name="documento" id="documento">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="{{ form.descripcion.field.widget.attrs.placeholder }}" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Subir Documento</button>
        <a href="{% url 'proyecto_detalle' proyecto_pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
